{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": [
      2, {
        "devDependencies": true
      }
    ]
  },
  "env": {
    "node": true,
    "jest": true,
    "es6": true 
  }
}
